html, body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
  display: -webkit-flex;
  display: flex;
}

.container > .group {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-left: 10px;
}

.container > .group:first-child {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.change-detection-chart {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: 210px;
  z-index: 4;
  border: 1px solid #656565;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
  z-index: 101;
}

.selectTopRight {
  cursor: ne-resize !important;
}

.selectBottomRight {
  cursor: se-resize !important;
}

.selectBottomLeft {
  cursor: sw-resize !important;
}

.selectTopLeft {
  cursor: nw-resize !important;
}

.selectDown {
  cursor: s-resize !important;
}

.selectUp {
  cursor: n-resize !important;
}

.selectLeft {
  cursor: w-resize !important;
}

.selectRight {
  cursor: e-resize !important;
}

.selectMove {
  cursor: move !important;
}

.ajax-loader {
  background: url('../images/ajax-loader.gif') #fff center no-repeat;
}

.empty-chart {
  background: url('../images/empty-chart.png') #fff center no-repeat;
}